# Pandas DataReader Tool

With this tool, we can access a lot of different data:
- Yahoo Finance
- Federal Reserve Bank
- IEX
- Quandl
- Kenneth Franch's data library
- World Bank
- OECD
- Eurostat
- Econdb
- Nasdaq Trader Symbol Definitions

## Yahoo Finance

In [8]:
from pandas_datareader import data
from datetime import date as dt

In [9]:
start_date = "2017-09-22"
end_date = dt.today()

In [11]:
data.DataReader("AMZN", "yahoo", start_date, end_date)

                  High         Low  ...       Volume   Adj Close
Date                                ...
2017-09-22   48.280499   47.721001  ...   52836000.0   47.755001
2017-09-25   47.471001   46.644501  ...  102480000.0   46.989498
2017-09-26   47.431499   46.587502  ...   71296000.0   46.930000
2017-09-27   47.764999   47.165001  ...   62978000.0   47.543499
2017-09-28   47.985001   47.505001  ...   50452000.0   47.820000
...                ...         ...  ...          ...         ...
2022-09-20  124.400002  121.139999  ...   47698400.0  122.190002
2022-09-21  123.760002  118.449997  ...   58498900.0  118.540001
2022-09-22  118.790001  116.260002  ...   55229200.0  117.309998
2022-09-23  116.050003  112.059998  ...   65081200.0  113.779999
2022-09-26  117.334999  113.129997  ...   52133477.0  115.705002

[1261 rows x 6 columns]