# Pandas DataReader Tool

With this tool, we can access a lot of different data:
- Yahoo Finance
- Federal Reserve Bank
- IEX
- Quandl
- Kenneth Franch's data library
- World Bank
- OECD
- Eurostat
- Econdb
- Nasdaq Trader Symbol Definitions

## Yahoo Finance

In [8]:
from pandas_datareader import data
from datetime import date as dt

In [9]:
start_date = "2017-09-22"
end_date = dt.today()

In [11]:
data.DataReader("AMZN", "yahoo", start_date, end_date)

                  High         Low  ...       Volume   Adj Close
Date                                ...
2017-09-22   48.280499   47.721001  ...   52836000.0   47.755001
2017-09-25   47.471001   46.644501  ...  102480000.0   46.989498
2017-09-26   47.431499   46.587502  ...   71296000.0   46.930000
2017-09-27   47.764999   47.165001  ...   62978000.0   47.543499
2017-09-28   47.985001   47.505001  ...   50452000.0   47.820000
...                ...         ...  ...          ...         ...
2022-09-20  124.400002  121.139999  ...   47698400.0  122.190002
2022-09-21  123.760002  118.449997  ...   58498900.0  118.540001
2022-09-22  118.790001  116.260002  ...   55229200.0  117.309998
2022-09-23  116.050003  112.059998  ...   65081200.0  113.779999
2022-09-26  117.334999  113.129997  ...   52133477.0  115.705002

[1261 rows x 6 columns]

## EconDB

Here we can have main world economic indicators.

For more information, [here](https://www.econdb.com/main-indicators/).

In [12]:
# For example, Oil production in America monthly
data.DataReader("ticker=OILPRODUS", "econdb", start_date, end_date)

Reference Area         United States of America
Energy product                        Crude oil
Flow breakdown                       Production
Unit of measure Thousand Barrels per day (kb/d)
TIME_PERIOD
2017-10-01                                 9659
2017-11-01                                10077
2017-12-01                                 9979
2018-01-01                                 9996
2018-02-01                                10276
2018-03-01                                10461
2018-04-01                                10493
2018-05-01                                10424
2018-06-01                                10628
2018-07-01                                10888
2018-08-01                                11373
2018-09-01                                11422
2018-10-01                                11488
2018-11-01                                11868
2018-12-01                                11924
2019-01-01                                11848
2019-02-01                                11653
2019-03-01                                11899
2019-04-01                                12125
2019-05-01                                12141
2019-06-01                                12179
2019-07-01                                11896
2019-08-01                                12475
2019-09-01                                12572
2019-10-01                                12771
2019-11-01                                12966
2019-12-01                                12910
2020-01-01                                12852
2020-02-01                                12842
2020-03-01                                12797
2020-04-01                                11914
2020-05-01                                 9713
2020-06-01                                10442
2020-07-01                                11006
2020-08-01                                10577
2020-09-01                                10921
2020-10-01                                10457
2020-11-01                                11196
2020-12-01                                11168
2021-01-01                                11124
2021-02-01                                 9925
2021-03-01                                11326
2021-04-01                                11305
2021-05-01                                11356
2021-06-01                                11356
2021-07-01                                11347
2021-08-01                                11277
2021-09-01                                10918
2021-10-01                                11569
2021-11-01                                11790
2021-12-01                                11634
2022-01-01                                11369
2022-02-01                                11306
2022-03-01                                11701
2022-04-01                                11652
2022-05-01                                11595
2022-06-01                                11816
2022-07-01                                12042